<div class="row">
    <div class="col-6 text-center">
        <h3>Exmplo 1</h3>
        <span>Random Number</span><br />
        <span>{{rnd}}</span><br />
        <input type="text" value="{{rnd}}"><br />
        <!-- tipo de atribuição de valores diferentes -->
        <input type="text" [value]="rnd"><br />
        <div class="md-3">
            <button (click)="numberGenerate()" class="btn btn-secondary">
                Number Generate
            </button>
        </div>
    </div>
    <div class=" col-6 text-center">
        <h3>Exmplo 2</h3>
    </div>
</div>